 /*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(dualsense-form.svg);
    height: 560px;
    width: 712px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(ps5-assets/disconnected.svg);
}

.ds4.disconnected div {
    display: none;
}

.ds4 .triggers {
    position: absolute;
    width: 539px;
    height: 90px;
    left: 86px;
    top: -3px;
}

.ds4 .trigger {
    width: 99px;
    height: 100%;
    background: url(ps5-assets/triggers.svg);
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 99px;
}

.ds4 .bumper {
    width: 96px;
    height: 40px;
    background: url(ps5-assets/bampers.svg) no-repeat;
    opacity: 1;
}

.ds4 .bumpers {
    position: absolute;
    width: 537px;
    height: 40px;
    left: 87px;
    top: 88px;
}

.ds4 .bumper.pressed {
    /* opacity: 1; */
    background-position-y: -44px;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.ds4 .touchpad {
    position: absolute;
    width: 284px;
    height: 164px;
    left: 214px;
    top: 94px;
}

.ds4 .touchpad.pressed {
    background: url(ps5-assets/touchpad.svg) no-repeat center;
}

.ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.ds4 .meta.pressed {
    background: url(ps4-assets/meta.svg) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svg);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.ds4 .arrows {
    position: absolute;
    width: 353px;
    height: 37px;
    top: 128px;
    left: 179px;
}

.ds4 .back, .ds4 .start {
    background: url(ps5-assets/share%20options.svg);
    width: 19px;
    height: 38px;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    background-position-y: 38px;
}

.ds4 .back {
    float: left;
    /* width: 28px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 19px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 153px;
    left: 504px;
}

.ds4 .button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(ps5-assets/face.svg);
}

.ds4 .button.pressed {
    background-position-y: 50px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 1px 0;
    bottom: 0;
    left: 50px;
}

.ds4 .b {
    background-position: -60px 0;
    top: 50px;
    right: 0px;
}

.ds4 .x {
    background-position: -120px 0;
    top: 50px;
}

.ds4 .y {
    background-position: 50px 0;
    left: 50px;
}

.ds4 .sticks {
    position: absolute;
    width: 339px;
    height: 105px;
    top: 280px;
    left: 192px;
}

.ds4 .stick {
    position: absolute;
    background: url(ps4-assets/sticks.svg);
    height: 94px;
    width: 94px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 132px;
    height: 132px;
    top: 163px;
    left: 70px;
}

.ds4 .face {
    background: url(ps5-assets/dpad.svg);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 44px;
    height: 54px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 54px;
    height: 44px;
}

.ds4 .face.up {
    left: 44px;
    top: 0;
    background-position: -50px 0px;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 44px;
    left: 0;
    background-position: 114px 0;
}

.ds4 .face.right {
    top: 44px;
    right: 0px;
    background-position: 54px 0;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 54px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/

/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(ps4-white-assets/base.svg);
}

.ds4.white.disconnected {
    background: url(ps5-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(ps4-white-assets/triggers.svg);
}

.ds4.white .bumper {
    background-image: url(ps4-white-assets/bumper.svg);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svg);
}

.ds4.white .back, .ds4.white .start {
    background-image: url(ps4-white-assets/start.svg);
}

.ds4.white .button {
    background-image: url(ps4-white-assets/face.svg);
}

.ds4.white .stick {
    background-image: url(ps4-white-assets/sticks.svg);
}

.ds4.white .face {
    background-image: url(ps4-white-assets/dpad.svg);
}

/*END PS4 White Controller Styling*/

.ds4 .quadrant  { /*Backlight touchpad*/
    position: absolute;
    width: 311px;
    height: 200px;
    background-color: #fce302;
    top: 95px;
    left: 214px;
    border-top-right-radius: 62px;
    border-top-left-radius: 62px;
    box-shadow: 0px -1px 20px 5px #fce302;
    animation: 3s linear infinite alternate backlight;

    clip-path: path('M34.0554 9.33638C61.943 3.08421 117.296 0 147.938 0C179.925 0 222.365 1.86199 255.702 9.33638C269.882 12.5163 277.472 17.7931 280.962 24.5377C284.363 31.1085 283.375 38.2781 282.605 43.7173C279.542 65.3464 275.258 91.2845 270.371 120.869L270.356 120.957C267.804 136.409 261.356 147.177 252.866 154.064C244.408 160.925 234.185 163.719 224.42 163.719H59.2184C46.4521 163.719 36.5503 160.493 29.38 154.96C22.199 149.42 18.0179 141.765 16.3599 133.402C13.1662 117.292 8.53985 91.5925 3.34492 62.7364C2.59182 58.5534 1.82676 54.3036 1.05287 50.0079C-1.56285 35.4955 0.734243 26.093 7.50905 19.8836C10.762 16.9033 14.8355 14.8694 19.2943 13.2889C23.7468 11.7109 28.7856 10.5183 34.0554 9.33638ZM147.938 6.29688C117.395 6.29688 62.6143 9.38675 35.4332 15.4809C30.1444 16.6666 25.4495 17.788 21.3974 19.2244C17.3517 20.6582 14.151 22.3388 11.7638 24.5263C7.25968 28.6539 4.81901 35.4042 7.2496 48.8908C8.02412 53.1891 8.7892 57.4388 9.54231 61.6206C14.7397 90.4924 19.3547 116.126 22.5365 132.178C23.9388 139.249 27.4059 145.484 33.2267 149.975C39.0583 154.474 47.5118 157.422 59.2184 157.422H224.42C233.012 157.422 241.757 154.968 248.9 149.174C256.012 143.405 261.801 134.11 264.144 119.93L264.148 119.903C269.043 90.2695 273.318 64.3906 276.37 42.8345C277.175 37.1459 277.717 31.9686 275.37 27.4311C273.112 23.0673 267.677 18.475 254.324 15.4809C221.688 8.16327 179.814 6.29688 147.938 6.29688Z');
}

@keyframes backlight {
    0% {
        background-color: #fce302;
        box-shadow: 0px -1px 20px 5px #fce302;
    }
    100% {
        background-color: #023cfc;
        box-shadow: 0px -1px 20px 5px #023cfc;
    }
}