 /*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(dualsense-form.svg);
    height: 560px;
    width: 712px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.disconnected div {
    display: none;
}

.ds4 .triggers {
    width: 588px;
    height: 90px;
    position: absolute;
    left: 109px;
}

.ds4 .trigger {
    width: 99px;
    height: 100%;
    background: url(ps4-assets/triggers.svg);
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 99px;
}

.ds4 .bumper {
    width: 96px;
    height: 40px;
    background: url(ps5-assets/bampers.svg) no-repeat;
    opacity: 1;
}

.ds4 .bumpers {
    position: absolute;
    width: 588px;
    height: 23px;
    left: 109px;
    top: 94px;
}

.ds4 .bumper.pressed {
    /* opacity: 1; */
    background-position-y: -44px;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.ds4 .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.ds4 .touchpad.pressed {
    background: url(ps4-assets/touchpad.svg) no-repeat center;
}

.ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.ds4 .meta.pressed {
    background: url(ps4-assets/meta.svg) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svg);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.ds4 .arrows {
    position: absolute;
    width: 353px;
    height: 37px;
    top: 128px;
    left: 179px;
}

.ds4 .back, .ds4 .start {
    background: url(ps5-assets/share%20options.svg);
    width: 19px;
    height: 38px;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    background-position-y: 38px;
}

.ds4 .back {
    float: left;
    /* width: 28px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 19px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 153px;
    left: 504px;
}

.ds4 .button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(ps5-assets/face.svg);
}

.ds4 .button.pressed {
    background-position-y: 50px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 1px 0;
    bottom: 0;
    left: 50px;
}

.ds4 .b {
    background-position: -60px 0;
    top: 50px;
    right: 0px;
}

.ds4 .x {
    background-position: -120px 0;
    top: 50px;
}

.ds4 .y {
    background-position: 50px 0;
    left: 50px;
}

.ds4 .sticks {
    position: absolute;
    width: 337px;
    height: 105px;
    top: 358px;
    left: 240px;
}

.ds4 .stick {
    position: absolute;
    background: url(ps4-assets/sticks.svg);
    height: 94px;
    width: 94px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 132px;
    height: 132px;
    top: 163px;
    left: 70px;
}

.ds4 .face {
    background: url(ps5-assets/dpad.svg);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 44px;
    height: 54px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 54px;
    height: 44px;
}

.ds4 .face.up {
    left: 44px;
    top: 0;
    background-position: -50px 0px;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 44px;
    left: 0;
    background-position: 114px 0;
}

.ds4 .face.right {
    top: 44px;
    right: 0px;
    background-position: 54px 0;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 54px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/

/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(ps4-white-assets/base.svg);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(ps4-white-assets/triggers.svg);
}

.ds4.white .bumper {
    background-image: url(ps4-white-assets/bumper.svg);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svg);
}

.ds4.white .back, .ds4.white .start {
    background-image: url(ps4-white-assets/start.svg);
}

.ds4.white .button {
    background-image: url(ps4-white-assets/face.svg);
}

.ds4.white .stick {
    background-image: url(ps4-white-assets/sticks.svg);
}

.ds4.white .face {
    background-image: url(ps4-white-assets/dpad.svg);
}

/*END PS4 White Controller Styling*/